# Turso Database
TURSO_DATABASE_URL=libsql://your_turso_database_url
TURSO_AUTH_TOKEN=auth_token
GROQ_API_KEY=groq_api
# Auth Secret (generate with: openssl rand -base64 32)
AUTH_SECRET=your_random_secret_key

# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
